* {
    box-sizing: border-box;
  }
  body {
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
    margin: 0;
  }
  
  .main-content {
    margin: 2em auto;
    max-width: 1000px;
  }
  